body {
width:100%;
height:1000px;
text-align:center;
margin: auto;
}
.slides {
position: absolute;
top: 0px;
left:0px;
font-size: 20pt;
margin: auto;
padding: 0px 0px 0px 0px;
z-index:-2;
opacity: 0;
font-size:40pt;
text-align:center;
vertical-align:center;
padding-bottom:20px;
background-color:white;
width:1000px;
}

#slide0{
background-color:white;
z-index:-1;
}
#slide1{
background-color:white;
z-index:-2;
}
#slide2{
    background-color:white;
z-index:-3;
}
#slide3{
background-color:white;
z-index:-4;
}
#slide4{
background-color:white;
z-index:-5;
}

#slideContainer {
overflow:hidden;
}

#footer {
position:absolute;
bottom:0px;
margin:0px auto;
width: 100%;
text-align:center;
padding:5px;
z-index:3;
visibility:hidden;
}

.footers {
width:20px;
height:20px;
border-radius:10px;
display:inline-block;
margin-top:10px;
margin-left:5px;
background-color:#2b5d74;
cursor: pointer;
z-index:5;
}
#foot0 {
background-color:red;
}

.imgslide {
height: 700px;
}

.points {
width:1000px;
margin:auto;
text-decoration:none;
}

li {
text-align:left;
padding:10px;
}

.heading {
text-align:left;
width:1000px;
font-size: 70pt;
color:#2b5d74;
margin:auto;
padding:70px;
}

#oneing {
position:absolute;
top:100px;
}

.title {
text-align:center;
font-size:70pt;
color: #2b5d74;
padding-top:200px;

}

#fourier{
height:200px;
}
